hr {border: 1px solid #999;}

header h2 small {color:#999; font-size:80%;}

header address {position:absolute;right:0;bottom:10px;}

header {
    position:relative;
    margin-top: 20px;
    border-bottom: 4px solid rgba(51,51,51,0.2);
}

header h1 {margin-bottom:14px;padding-bottom:0;}
header h2 {margin-top:0px;margin-bottom:10px;}

section#resume-body section {margin-top:30px;}
section h2 {margin-bottom:10px;}
section#resume-body h1 {
    border-bottom: 1px solid rgba(51,51,51,0.2);
    padding-bottom: 14px;
    padding-top:14px;
    margin-bottom:0px;
}

section aside {
    float:right;
    width: 20%;
    background:#eee;
    border: 1px solid #bbb;
    padding:10px;
    margin-left:10px;
    margin-top:10px;
}

aside  h4 {margin-top:0;}

address {font-style:normal;}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    header address {
      position:relative;
      clear:both;
      padding:10px 0px;
      margin-bottom:0px;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    header address {
      position:relative;
      clear:both;
      padding:10px 0px;
      margin-bottom:0px;
    }

    section aside {
      float:none;
      clear:both;
      margin: 10px 0px;
      width:96%;
    }
}
