a {color:#fe2e9a;}
body {
  margin-top:40px;
  background:#fff;
}
h1,h2,h3 { font-family: 'Droid Sans'; }
h1,h2 {
    line-height:normal;
    margin:0 0 14px 0;
}

nav {
    text-align:center;
    position:fixed;
}

#logo {padding: 0 0 10px 0;}
#logo a {color:#333;text-decoration:none;}
#logo h1,
#logo h3 {
    margin:0;
    padding:0;
    line-height:normal;
}
#logo h3 {margin: -6px 0 0 -6px; }

nav ul {margin:auto !important;width:60%;}
.nav-pills>.active>a, .nav-pills>.active>a:hover {background-color:#fe2e9a;}
#content {margin-left: 280px;}
.page-title h1 {float:left;}
.page-title p {float:right;margin-top:20px;}
.meta {color:#AD6B00;}
footer {
    margin-top:20px;
    border-top:solid 1px #ddd;
    font-size:80%;
    color:#777;
}

@media (max-width: 979px) and (min-width: 768px) {
    #content {margin-left:220px;}
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    #content {margin-left:0;}
    nav {position:relative;margin-bottom:10px;}
    nav ul {text-align:center;width:200px;}
    nav ul li {display:inline;float:left !important; text-align:center;}
}
